.container {
    background-color: white;
    margin: 50px;
    padding: 50px;
}

.btn-primary {
    background-color: teal;
    color: white;
}

form {
    font-family: sans-serif;
}

@media screen and (max-width: 768px) {

    .container {
        width: 78%;
        padding-right: 15px;
        padding-left: 0px;
        margin-right: auto;
        margin-left: 41px;
    }
    
}


@media screen and (max-width: 400px) {

    .container {
       width:90%;
       margin-top: 100px;
       margin-left: 7px;
       padding-left: 15px;
    }

    .navbar .footer {
        width: 100%;
    }
        
} */
