
.navbar-light .navbar-brand {
    color: white;
    background-color: teal;
}

.navbar-light .navbar-nav .nav-link li{
    color: grey;
}

.container .jumbotron {
    background-color: white;
}

.container {
    margin-left: 50px;
}

.display-4 {
    font-weight: 800px;
}


@media screen and (max-width: 768px) {




}


@media screen and (max-width: 400px) {



    
}


