body {
    background-image: url("../ignasi_pattern_s.png");
    background-repeat: repeat;
    font-family: 'Merriweather', serif;
}
h1 {
    color: teal;
    font-weight: 300px;
}

.navbar-light .navbar-brand {
    color: white;
    background-color: teal;
}

.navbar-light .navbar-nav .nav-link li{
    color: grey;
}

.container .jumbotron {
    background-color: white;
}

p{
    font-family: sans-serif;
}