body {
    background-image: url("../ignasi_pattern_s.png");
    background-repeat: repeat;
}
h1 {
    color: teal;
    font-weight: 300px;
}

.navbar-light .navbar-brand {
    color: white;
    background-color: teal;
}

.navbar-light .navbar-nav .nav-link li{
    color: grey;
}

.container {
    background-color: white;
}