body {
    background-image: url("../ignasi_pattern_s.png");
    background-repeat: repeat;
}
h1 {
    color: red
}

.navbar-light .navbar-brand {
    color: white;
    background-color: teal;
}

.navbar-light .navbar-nav .nav-link li{
    color: grey;
}

/* .background {
    height: 800px;
    width: 100%;
    background-image: url("../ignasi_pattern_s.png");
    background-size: cover;
    background-position: center;
} */
