/* This page is the root for all html styling */

/* Standarized background image */
body {
    background-image: url("../ignasi_pattern_s.png");
    background-repeat: repeat;
    font-family: 'Merriweather', serif;
}

h1 {
    color: teal;
    font-weight: 300px;
}
/* Navbar across all html will look the same */
.navbar-light .navbar-brand {
    color: white;
    background-color: teal;
}

.navbar-light .navbar-nav .nav-link li{
    color: grey;
}
/* All main containers will have the margin top */
.container {
    margin-top: 50px;
}

.container .jumbotron {
    background-color: white;
}

footer {
    text-align: center;
    border-top: teal solid 5px;
    background-color: grey;
    color: rgb(29, 25, 25);
    height: 50px;
    left: 0;
    bottom: 0;
    width: 100%;
    position: sticky;
}