.container {
    background-color: white;
    margin: 50px;
    padding: 50px;
}

.btn-primary {
    background-color: teal;
    color: white;
}

form {
    font-family: sans-serif;
}

@media screen and (max-width: 768px) {

    .container {
        max-width: 610px;

    }


}


@media screen and (max-width: 400px) {

    .container {
        max-width: 75%;
    }

    
}